{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block title %}Big J's - {{ contact.title }}{% endblock %}

{% block content %}

<div class="single-contact">

      <h2>{{ contact.first_name }} {{ contact.last_name }}</h2>
	  <ul>
      	<li>Email: {{ contact.email }}</li>
      	<li>Primary Phone: {{ contact.phone1 }}</li>
      	<li>Alternate Phone: {{ contact.phone2 }}</li>
      	<li>Website: {{ contact.website }}</li>
      </ul>
    
    <hr>
    <div class="notes">
    <a href="{% url 'add_contact_note' pk=contact.pk %}">Add note</a><br />
    
			{% for cNote in contact.contact_notes.all %}
				{{ cNote.note }} ({{ cNote.short_date }} by {{ cNote.note_author|title }})

			{% empty %}
				<p>No notes.</p>		
			{% endfor %}
			
	</div>
    
    </div>
    
      
</div>
    
{% endblock %}
