{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block title %}Big J's - {{ task.title }}{% endblock %}

{% block content %}

    <div class="post">
        
        {% if user.is_authenticated %}
			<!-- do something useful
			<a class="btn btn-default" href="/"><img src="{% static 'ico/edit.png' %}"></a>
			<a class="btn btn-default" href="/"><img src="{% static 'ico/trash.png' %}"></a> -->
        {% endif %}      
        
        <h1>{{ task.title }}</h1>
        <i>by {{ task.author.first_name}} {{ task.author.last_name }}</i>
        <p><br />
        {{ task.content|linebreaksbr }}
        </p>
    </div>
    
   
    
{% endblock %}