{% extends 'blog/base.html' %}

{% block title %}Big J's Blog - Projects{% endblock %}

{% block content %}

{% if projects %}
	{% for project in projects %}
		<div class="project">
				<a href="{% url 'project_detail' pk=project.pk %}">{{ project.name }}</a>
				<div class="number">Project number: {{ project.number }}</div>
					
				<p>{{ project.description|truncatewords:20 }}</p>				 
		</div>
	{% endfor %}

{% else %}

<p>No projects.</p>

{% endif %}

{% endblock %}

{% block side_block %}

{% endblock %}
